/*--- RESET CSS ---*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}


.logo {
  width: 160px;
}
.section-photo {
  padding-top: 100px;
}
/*--- NAV ---*/
.main-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 60px;
}
.menu-img {
  display: none;
}

.main-nav ul {
  list-style-type: none;
}

.main-nav li {
  display: inline;
  margin-left: 20px;
  color: rgba(56, 56, 64, 0.75);
}

.main-nav a:link,
.main-nav a:visited {
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  font-size: 1em;
}

/*--- SECTIONS ---*/
section {
  padding: 20px 0;
}


/*--- SECTION FEATURED ---*/

.right-content h4 {
  font-size: 1.6em;
  margin-bottom: 20px;
}
.user-info .user {
  float: left;
  overflow: hidden;
  margin-right: 40px;
}
.user-info .user .user-avatar {
  border-radius: 80px;
  width: 100%;
}
.section-photo p {
  color: #383840;
  text-align: left;
  /* width: 50%; */
  max-width: 800px;
  font-size: 1.7em;
  font-weight: normal;
}

.section-photo .menu-nav {
  margin-bottom: 40px;
}

.section-photo .menu-nav ul {
  list-style-type: none;
}

.section-photo .content .left,
.section-photo .content .center,
.section-photo .content .right {
  float: left;
  width: 32%;
  margin-right: 1.3%;
}

.section-photo .card {
  cursor: pointer;
  display: block;
  position: relative;
  height: 400px;
  border-radius: .25em;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, .1);
}

.section-photo .card .hover-box {
  opacity: 0;
  transition: all .5s;
  display: block;
  /* background-color: rgba(255, 255, 255, .7); */
  background-image: linear-gradient(rgba(255, 255, 255, .6), rgba(0, 0, 0, .6));
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  bottom: -50px;
}
.section-photo .card .review-btn {
  width: 130px;
  height: 48px;
  line-height: 48px;
  background-color: #fff;
  border-radius: 50px;
  color: #000;
  font-weight: bold;
  margin: 30px auto;
}
.section-photo .card .center-box {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.section-photo .card:hover .hover-box {
  bottom: 0px;
  opacity: 1;
}

.section-photo .card .hover-box h5 {
  margin-bottom: 10px;
  font-size: 1.4em;
  color:#fff;
}

.section-photo .card .hover-box p {
  width: 80%;
  font-size: 1.1em;
  margin: 10px auto;
}

.portfolio1 {
  /* height: 400px; */
  background-image: url(../images/portfolio_1/banner.svg);
}

.portfolio2 {
  /* height: 500px; */
  background-image: url(../images/portfolio_2/banner.svg);
}

.portfolio3 {
  /* height: 500px; */
  background-image: url(../images/portfolio_3/banner.svg);
}

.portfolio4 {
  /* height: 400px; */
  background-image: url(../images/portfolio_4/banner.svg);
}
.portfolio5 {
  /* height: 600px; */
  background-image: url(../images/portfolio_5/banner.svg);
}

.portfolio6 {
  /* height: 300px; */
  background-image: url(../images/portfolio_6/banner.svg);
}

.section-contact h2 {
  margin-bottom: 30px;
}

*:focus {
  outline: none;
}

/* https://www.jootoor.com/social-media-colors-hex-codes-rgb-sass/ */
.fa-square-facebook:hover {
  color: #000000;
}

.fa-square-twitter:hover {
  color: #000000;
}

.fa-square-instagram:hover {
  color: #000000;
}

.fa-tiktok:hover {
  color: #000000;
}

.fa-square-facebook,
.fa-square-twitter,
.fa-square-instagram,
.fa-tiktok {
  transition: color .3s;
}